body{
	font-family: arial, sans-serif;
	font-size: 14px;
	background-color: #f4f6f6;
	line-height: 20px;
	letter-spacing: 2px;
}
h1, h2, h3{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}
h1{
	color: #57a99a;
	font-size: 30px;
}
p{
	letter-spacing: 0.5px;
}

h2{
	color: #9fd3c7;
	font-size: 22px;
}

div{
	width: 400px;
	margin: 0 auto;
}
a{
	text-decoration: none;
	color: black;	
	transition: color 0.3s ease;
}
a:hover{
	text-decoration: none;
	color: black;
}
ul{
	text-decoration: none;
}
strong{
	font-weight: lighter;
}

.container{
	width: 700px;
	margin: 40px auto;
}

 @media (max-width: 960px) {
  .card-white {
    width: 400px;
    margin: 50px auto;
  }
  .container {
  	width: 100%;
  }
}

@media (max-width: 720px) {
  .card-white {
    width: 300px;
    margin: 50px auto;
  }
  .container {
  	width: 100%;
  }
}

@media (max-width: 540px) {
  .card-white {
    width: 300px;
    margin: 50px auto;
  }
  .container {
  	width: 100%;
  }
}

.card-white{
	background-color: white;
	border-radius: 2px;
	padding: 60px;
	margin: 50px auto;
}
.text-center{
	text-align: center;
}
.list-inline{
	list-style: none;
	padding: 0;
}
.list-inline li{
	display: inline;
	padding: 7px;
}
.list-inline i{
	font-size: 17px;
	color: black;
}
.btn-blue{
	background-color: #57a99a;
	color: white;
	padding: 10px 15px;
	border-radius: 2px;
	margin: 50px 50px;
	cursor: pointer;
	opacity: 0.7;
}
.btn-blue:hover{
	opacity: 1;
}
.pic-resized{
	width: 100%;
}

#profile-pic{
	width: 100px;
	border-radius: 50%;
}
#introduction p{
	margin-bottom: 30px;
}
